:root {
	/* Text */
	--very-desaturated-blue: hsl(238, 29%, 16%);
	--soft-red: hsl(14, 88%, 65%);

	/* Gradient */

	--soft-violet: hsl(273, 75%, 66%);
	--soft-blue: hsl(240, 73%, 65%);

	/* Text */
	--very-dark-grayish-blue: hsl(237, 12%, 33%);
	--dark-grayish-blue: hsl(240, 6%, 50%);

	/* Dividers */
	--light-grayish-blue: hsl(240, 5%, 91%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100vh;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Kumbh Sans", sans-serif;
	font-weight: 400;
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, hsl(240, 73%, 65%) 0%, hsl(273, 75%, 66%) 100%);
}

.card {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 1fr;
	grid-gap: 3rem;
	width: 325px;
	min-height: 520px;
	background-color: white;
	color: var(--very-desaturated-blue);
	padding: 0 1.5rem 0 1.5rem;
	border-radius: 25px;
	position: relative;
	transform: translateY(3.125rem);
	margin: 0 auto;
}

.content_wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.card .illustration {
	position: absolute;
	top: 0;
	display: inline-block;
	transform: translate(-13px, -55%);
	max-width: 100%;
}

.pattern {
	position: absolute;
	top: 0;
	transform: translate(13px, 0%);
}

.card h1 {
	text-align: center;
	font-weight: 700;
	font-size: 2rem;
	font-size: 400;
	margin-bottom: 1rem;
}

.card ul {
	height: 100%;
	list-style: none;
}

.card li {
	border-bottom: 1px solid var(--light-grayish-blue);
	padding: 1rem 0;
}

.card li .question_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.card li img {
	cursor: pointer;
}

.card li h2 {
	display: inline-block;
	font-size: 0.875rem;
	font-weight: 400;
}

.card li p {
	font-size: 0.6875rem;
	padding-right: 1.5rem;
}

.card li .answer {
	margin-top: 1rem;
	display: none;
	overflow: hidden;
}

.btn.unfold {
	transform: rotateX(180deg);
}

.card .question.unfold {
	font-weight: 800;
}

.card li .answer.unfold {
	display: block;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
